body,
html {
   width: 100%;
   height: 100%;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #5de6de;
   background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
}
* {
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
   width: 40%;
   height: 60%;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
   background-color: white;
   border-radius: 10px;
   overflow: hidden;
   display: grid;
   grid-template-rows: 20% 80%;
   grid-template-columns: 1fr;
   h2 {
      text-align: center;
      padding: 30px 20px 20px 20px;
      font-size: 18px;
   }
   .form {
      display: grid;
      grid-template-rows: 82% 18%;
      padding-top: 20px;
   }
}
button {
   background-color: rgb(36, 162, 235);
   color: white;
   font-size: 1.3rem;
   letter-spacing: 1px;
   transition: 0.3s ease-in;
   cursor: pointer;
   &:hover {
      background-color: rgb(90, 185, 240);
   }
}
ul {
   list-style-type: none;
   margin-left: 10%;
   li {
      padding: 8px 0;
   }
}
label {
   cursor: pointer;
}
input {
   margin-right: 10px;
}
.total {
   width: 50%;
   background-color: white;
   text-align: center;
   border-radius: 10px;
   display: grid;
   grid-template-rows: 82% 18%;
   padding-top: 20px;
   overflow: hidden;
   pad h2 {
      color: rgb(21, 25, 68);
      letter-spacing: 1px;
      font-family: Georgia, "Times New Roman", Times, serif;
   }
   p {
      padding-top: 15px;
      font-size: 20px;
      letter-spacing: 1px;
   }
}

.reload {
   width: 100%;
   height: 40px;
}
